html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #F3E1DD;
}

#root {
  min-height: 100vh;
  display: flex;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  flex: 1;
}
