//global
@use "./global.scss";

// variables
@use "./variables" as *;

// //components

@use "./product-card.scss";

@use "./nav-bar.scss";

@use "./loading.scss";

// //pages

@use "./cartpage.scss";

@use "./contact.scss";

@use "./about.scss";


@use "./product-detail.scss";

@use "./home.scss";
// //media-queries


