//global
@use "./global.scss";

// //components

@use "./product-card.scss";

@use "./nav-bar.scss";

// //pages

@use "./cartpage.scss";

@use "./contact.scss";

@use "./about.scss";


@use "./home.scss";
// //media-queries


