.nav-bar {
    display: flex;
    align-items: center;
    padding: 16px;
}

.cart-button {
    margin-left: auto; 
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-icon {
    font-size: 32px;
    color: #CEC075;
}

.total-quantity {
    border-radius: 200px;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}