$primary-color: white;

$border-radius: 12px;


$gray-green: #9DA9A0;
$light-green: #C0CAAD;
$chocolate-plum: #654C4F;
$terracotta: #B26E63;
$gold: #CEC075;
$violet: #1C0221;








.page-title {
  text-align: center;
  margin: 2rem 0;


  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    padding-top: 36px;
   
  }

} 



.products {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.product-card {
  background-color: $light-green;
  border-radius: $border-radius;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  }

  .product-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .product-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $chocolate-plum;
  }

  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #96554A;
    margin-bottom: 0.25rem;
  }

  .product-category {
    font-size: 0.9rem;
  text-transform: capitalize;
    color: #826251;
    margin-bottom: 0.75rem;
  }

  .product-description {
    font-size: 0.85rem;
    color: #444;
    line-height: 1.4;
  }


  .add-to-cart{
    background-color: #4059AD;
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
  }
}
