$primary-color: #ffffff;
$border-radius: 12px;

$gray-green: #9DA9A0;
$light-green: #C0CAAD;
$chocolate-plum: #654C4F;
$terracotta: #B26E63;
$gold: #CEC075;
$violet: #1C0221;

$blue: #364156;

$soft-pink: #F4D6E0;
$lavender: #E6E1F4;
$sage: #DCE7DF;
$warm-beige: #F6F1EC;
$soft-plum: #6B4E71;
